/* Warning Message */
.w-message-container {
  padding: 1em;
  background-color: rgb(255, 227, 153);
  border-radius: 3px;
  display: flex;
  align-items: center;

  & > span:first-child {
    font-size: 2em;
  }

  & > span:last-child {
    margin-left: 0.25em;
  }
}

/* App Top Bar */
.app-top-bar {
  justify-content: space-between;
  padding: 0px 1.5rem;

  & > button svg {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }

  & > div {
    padding: 0.5rem 0px;

    & > button {
      display: flex;
      text-align: right;
      align-items: center;

      & > span:first-child {
        & > div {
          margin-right: 1rem;

          & > div:first-child {
            text-transform: capitalize;
            font-weight: bold;
          }

          & > div:last-child {
            text-transform: capitalize;
            font-size: 12px;
            color: rgb(119, 119, 119);
          }
        }

        & > img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
      }
    }

    & > #app-bar-popper {
      right: 0px;
      position: absolute;
      margin-right: 1rem;
    }
  }
}

/* App Drawer */
.app-drawer-close {
  width: 60px !important;
  & > div {
    width: inherit !important;
  }
}

.drawer-list-item {
  font-size: 20px;
  min-width: 2.1em !important;
}

.active-list-item {
  background-color: rgba(0, 0, 0, 0.14) !important;
}

.app-growl {
  z-index: 2000 !important;
}
